* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
     /*Pop Up Form*/
     #userchoice, #userchoiceSign{
      display: none;
    }
    #userchoice form, #userchoiceSign{
      
      background-color: rgba(236, 242, 255, 0.9);
      font-size: xx-large;
      width: 40%;
      border-radius: 40px;
      margin:  auto;
      padding: 20px;
      text-align: center;
      
      position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
     
      
    }
    
    .logo2{
      
      width: 10%;
    
    }
    #userchoice i, #userchoiceSign i{
      color: #cb6ce6;
    }
   
  /* #userchoice{
      display: none;
    }*/
    #cancel{    
     
      font-size: 40px;
      float: right;
      cursor: pointer;
    
    
    }
    #cancel:hover{
      background-color: #cb6ce6;
      
    }
  body{
    background-color: #ECF2FF;

  }

  
  /*side menu styling*/
  
  #barline, #closeline{
    display: none;
  }
  .sidelinks{
    display: flex;
    flex-direction: column;
   
    
  }
  .sidelinks li{
    padding: 10px;
    margin: auto;
    width: 50%;
    border-radius: 50%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.3);
    
    
  }
  li:hover{
    background-color: #cb6ce6;
    border-radius: 50px;
  }
  #menu{
    display: none;
    margin: 50px auto;
    border-radius: 50px;
    width: 60%;
    text-align: center;

    background-color: #ecf2ff;
  }
  
  /*HEADER STYLING*/
  .topnav {
    
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #6ebbb1;
   
   
   
  }

  .navlinks, .sidelinks {
    /*background-color: blue;*/
    list-style: none;
    display: flex;
    margin: 30px 0px;
    justify-content: space-evenly;
    gap: 30px;
  }
  .navlinks li {
   /* background-color: crimson;*/
    margin: 10px;
    padding: 10px;
  }


  a {
    text-decoration: none;
    color: black;
  }

  .logo {
   
    height: 10%;
    width: 15%;
    display: flex;
    
  }
  .icon {
    height: 50%;
    width: 50%;
    margin: auto;
  }
  
  /* SECTION 1 STYLING*/
  
  #section1 {
    
    display: flex;
    width: 100%;
    padding: 100px;
    height: 100%;
    
    background-image: url(./images/homepagebg2.png);
    
    background-size: contain;
    background-attachment: fixed;
    
  }
  
  .image_container {
    /*background-color: #6ebbb1;*/
    width: 50%; 
    margin: auto;
  }

  #section1 .front_image {
    width: 80%;
  }
  #section1 .brief {
    text-align: start;
    margin: auto;
   
    padding: 10px;
    width: 50%;
    font-size: xx-large;
    font-weight:bold;

  
  }
 
/*SECTION 2 STYLING*/
  #section2{
    
    padding: 60px;
    font-size: x-large;
    text-align: center;

   
  }
 
  .cards{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin: 20px;
    overflow: auto;
 
  }
  
  .cards::-webkit-scrollbar{ 
   height: 10px;

  }
  .cards::-webkit-scrollbar-track{
    background-color: #6ebbb1;
    border-radius: 5px;
   
   }
   .cards::-webkit-scrollbar-thumb{
    background-color: #cb6ce6;
    border-radius: 40px;
   }

  .card{
    padding: 20px;
    border-radius: 50px;
    background-color: #ecf2ff;
  }
  .card img{
    width: 400px;
    border-radius: 50px;
  }

  /*SECTION 3*/

  #section3{
   
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    padding: 60px;
  }
 

  .find{
    margin: 5px 10px 10px 300px;
    

  }
  .quiz{ 
    margin: auto;
    width: 30%;
    margin-left: 20px;
    
    font-size: x-large;
   
  }
   button{
   
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 50%;
    background-color: #cb6ce6;
    margin:20px auto;

  }
  /*SECTION 4 STYLING*/
  #section4{
    padding: 50px;
    display: flex;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.3);
    background-image: url(./images/FAQs1.png);
    background-size: contain;
    
    
    
  }
  .faq_box{
    text-align: center;
    margin: 70px auto 20px auto ;
     box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.3);
    width: 50%;
    padding: 50px;
  }

  /*FOOTER STYLING*/
  footer{
  display: flex;
  flex-direction: column;
  background-color: #ECF2FF;
}
.contacts{
 
  display: flex;
  justify-content: center;
 padding: 10px;
  
}
.fform{
width:30%;


}

.fform form{
  display: flex;
  flex-direction: column;
  background: #6EBBB1;
  width: 70%;
 
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 30px auto;
  padding: 40px;
}
#email, #message{
  background: #ECF2FF;
  border: none;
  width: 100%;
}
.fcontacts{
  padding: 30px;
  margin-top: 50px;
  
}
.fcontacts i {
  margin-right: 20px;
}
#email{
  width: 100%;
  height: 4vh;
}

.socials{
  background-color: #6EBBB1;
  margin: auto;
  width: 100%;
  text-align: center;
  border-radius: 200px 200px 0px 0px ;
  padding: 30px;

}
.socials i {
  margin: 10px 20px;
}

    



/*RESPONSIVENESS*/
@media screen and (max-width: 1240px)  {
  
#section3{
  display: flex;
  flex-direction: row;
}
.find , .quiz{
  margin: auto;

  width: 50%;
  justify-content: center;
  text-align: center;

 
}


.start{
  width: 20%;
  margin-top: 30px;
}
.fform{
  width: 50%;
}
}
@media screen and (max-width: 750px)  {
#section1, #section3{
  background-size: contain;
  flex-direction: column;
}
#section1 .brief{
  width: 100%;
  padding: 20px;
}
.image_container{
  width: 100%;
}
.brief p{
  font-size: xx-large;
  
 
  
 
}

.faq_box, .start{
  width: 100%;
}
.contacts{
  flex-direction: column;
}
.fform, .fcontacts{
  margin-top: 20px;
  width: 100%;
}
.fform form{
  width: 90%;

}
.socials{
  border-radius: 100px 100px 0px 0px;
}
.navlinks{
  display: none;
}
.topnav{
  width: 100%;
  justify-content: space-between;
  background-color: #ecf2ff;

}

#barline{
  display: block;
}


#menu, #closeline{
  display: none;
}
.topnav i{
  color: #6ebbb1;
}
}

