      
        
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(236, 242, 255, 0.6);
    
    
    
}
.minTop{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: 25px;
     background-color: #6EBBB1;
     
    /* font-family: 'Gloria Hallelujah', cursive;*/
     
    
    
   
    
}
.minTople img{
    width: 30%;
   
    
}

.minTople, .minTopre{
  display: flex;
  align-items: center;
  text-align: center;
 
 
}

.minTopre{
    flex-direction: column;
    
}

.try{
    display: inline-block;
}
.choice{
    
    width: 20%;
    padding: 10px;
    margin: 40px;
    border-radius: 40px;
   background-color: #CB6CE6E5;
   
    position: absolute;
    left: 0;
    top: 0;

}
ul{
    list-style: none;
}
li{
   
    
    margin: 30px;
    padding: 10px;
    
  
}
li:hover{
    background-color: rgba(236, 242, 255, 0.6);
    border-radius: 20px;
}
a{
    text-decoration: none;
    color: black;
}
.main{
    
    position: relative;
}
.graphs{
    background-image: url(./images/readingst.jpg);
   border-radius: 40px;
   

    display: flex;
    flex-wrap: wrap;

    position: absolute;
    left: 400px;
    top: 0;
    width: 70%;
    margin-top: 20px;
    padding: 40px;
   
    align-content: center;
    justify-content: space-around;
    gap: 20px;
                
    
}
.graphs img{
    width: 40%;
}
.logout{
    background-color: #CF7AE9;
    border: none;
    border-radius: 50px;
    padding: 10px;
    width: 50%;
    
}



